html {
	
	font-size: 16px;
	color: white;
	background-color: black;
	/*font-family: 'Pinyon Script', cursive;
	cursor: url(cursors/d-skimmy.cur), auto;*/
}

#discord {
	font-size: 26px;
	max-width:60%;
    	height: auto;
}

.main-links {
	/*border: 3px solid blue;*/
	font-size: 26px;
	max-width:60%;
    	height:auto;
}

#logo {
	display: block;
	margin: 0px auto;
}

/*button:hover,a:hover {
	cursor: url(cursors/d-skimmy.cur), auto;
}

body {
  width: 1200px;
  margin: 0px auto;
  background-color: #FF9500;
  padding: 0px 20px 20px 20px;
  border: 5px solid green;
}

p[class],h1{
	color: green;
	text-align: center;
	
}

p[class] {
	border: 2px dashed black;
}

li {
	line-height: 30px;
	letter-spacing: 1px;
}



h1 {
	font-size: 60px;
	margin: 0;
	padding: 20px 0;    
	color: #00539F;
	text-shadow: 3px 3px 2px black;
}

*/
